/* Neutral */
/* --------         -------- */
/* -------- Fuentes -------- */
@font-face {
  font-family: "DMSans-Regular";
  src: url(../font/DMSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "DMSans-Bold";
  src: url(../font/DMSans-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(33, 100%, 98%);
}

.title {
  font-size: 0.8888rem;
  font-family: "DMSans-Regular";
  font-weight: 400;
}
.title--medium-brown {
  color: hsl(28, 10%, 53%);
}

p {
  font-family: "DMSans-Bold";
  font-weight: 700;
}

.container {
  width: 542px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  border-radius: 1.111rem;
  padding: 1.6666rem;
  margin-bottom: 1.3888rem;
  color: hsl(27, 66%, 92%);
}
.header__balance p {
  font-size: 1.5rem;
  margin-top: 0.8333rem;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.1111rem;
  padding: 1.6666rem;
}
main h1 {
  font-size: 2.3333rem;
  font-family: "DMSans-Bold";
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
main .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.95rem;
}
main .footer__total p {
  font-size: 2.2222rem;
  color: hsl(25, 47%, 15%);
}
main .footer__lastmonth {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.27777rem;
}
main .footer__lastmonth p {
  color: hsl(25, 47%, 15%);
  text-align: end;
}

.graphic {
  display: flex;
  justify-content: space-around;
  color: hsl(28, 10%, 53%);
  border-bottom: 1px solid hsl(27, 66%, 92%);
  text-align: center;
  margin-top: 1.111rem;
  padding-bottom: 1.111rem;
}
.graphic .barras {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.graphic .barras__amount {
  opacity: 0;
  padding: 0.27777rem;
  margin-bottom: 0.8333rem;
  border-radius: 0.2777rem;
  color: white;
  background-color: black;
}
.graphic .barras__amount-activo {
  opacity: 1;
  transform: scale(1.2);
}
.graphic .barras__barra {
  cursor: pointer;
  position: relative;
  width: 70%;
  border-radius: 0.2777rem;
  overflow: hidden;
  margin-bottom: 0.5555rem;
}
.graphic .barras__barra:hover::before {
  position: absolute;
  z-index: 100;
  background-color: #f7c5bb;
}
.graphic .barras__barra::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(10, 79%, 65%);
  transform: translateY(100%);
  animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}
.graphic .barras__barra--dayActual:hover::before {
  position: absolute;
  z-index: 100;
  background-color: #bbdadd;
}
.graphic .barras__barra--dayActual::before {
  background-color: hsl(186, 34%, 60%);
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .container {
    width: 342px;
  }
}
@keyframes fill-bar {
  to {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=main.css.map */
