@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* --------         -------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(33, 100%, 98%);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
/* --------         -------- */
.container {
  width: 542px;
}

.balance {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.555rem;
  margin-bottom: 1.388rem;
}
.balance__title {
  color: hsl(33, 100%, 98%);
  font-size: 0.9rem;
}
.balance__total {
  color: hsl(33, 100%, 98%);
  font-size: 1.7rem;
  margin-top: 0.833rem;
  font-weight: 700;
}
.balance__logo {
  width: 4rem;
}

.chart {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  color: hsl(28, 10%, 53%);
  border-radius: 1.111rem;
  background-color: white;
}
.chart__title {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
.chart__analitics {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.9rem;
}
.chart__analitics-total {
  font-size: 0.9rem;
}
.chart__analitics-value {
  font-size: 2.22rem;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
.chart__analitics-porcentual {
  text-align: end;
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}
.chart__analitics-period {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
}

.graphic {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: hsl(28, 10%, 53%);
  border-bottom: 1px solid hsl(27, 66%, 92%);
  text-align: center;
  margin-top: 1.111rem;
  padding-bottom: 1.111rem;
}
.graphic .barras {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.graphic .barras__amount {
  opacity: 0;
  padding: 0.2rem;
  margin-bottom: 0.8333rem;
  border-radius: 0.2777rem;
  color: white;
  background-color: black;
}
.graphic .barras__amount-activo {
  opacity: 1;
  transform: scale(1.2);
}
.graphic .barras__barra {
  cursor: pointer;
  position: relative;
  width: 70%;
  border-radius: 0.2777rem;
  overflow: hidden;
  margin-bottom: 0.5555rem;
}
.graphic .barras__barra:hover::before {
  position: absolute;
  z-index: 100;
  background-color: #f7c5bb;
}
.graphic .barras__barra::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(10, 79%, 65%);
  transform: translateY(100%);
  animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}
.graphic .barras__barra--dayActual:hover::before {
  position: absolute;
  z-index: 100;
  background-color: #bbdadd;
}
.graphic .barras__barra--dayActual::before {
  background-color: hsl(186, 34%, 60%);
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 342px;
  }
  .chart__title {
    font-size: 1.5rem;
  }
}
@keyframes fill-bar {
  to {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=main.css.map */
