/* -------- Fuentes -------- */

@font-face {
    font-family: "DMSans-Regular";
    src: url(../font/DMSans-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "DMSans-Bold";
    src: url(../font/DMSans-Bold.ttf);
    font-weight: 700;
  }
  
$font-regular: "DMSans-Regular";
$font-bold: "DMSans-Bold";
