@import "./initial";
@import "./variables";


.container {
    width: 542px;
}

.balance {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    background-color: $Soft-red;
    border-radius: 0.555rem;
    margin-bottom: 1.388rem;

    &__title {
        color: $Very-pale-orange;
        font-size: 0.9rem;
    }

    &__total {
        color: $Very-pale-orange;
        font-size: 1.7rem;
        margin-top: 0.833rem;
        font-weight: 700;
    }

    &__logo {
        width: 4rem;
    }
}

.chart {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    color: $Medium-brown;
    border-radius: 1.111rem;
    background-color: white;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: $Dark-brown;
    }

    &__analitics {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 1.90rem;


        &-total {
            font-size: 0.9rem;
        }

        &-value {
            font-size: 2.22rem;
            font-weight: 700;
            color: $Dark-brown;
        }

        &-porcentual {

            text-align: end;
            color: $Dark-brown;
            font-weight: 700;
        }

        &-period {
            font-size: 0.9rem;
            padding-bottom: 0.3rem;
        }

    }

}

.graphic {
    display: flex ;
    width: 100%;
    justify-content: space-around;
    color: $Medium-brown;
    border-bottom: 1px solid $Cream;
    text-align: center;
    margin-top: 1.111rem;
    padding-bottom: 1.111rem;

    .barras {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &__amount {
            opacity: 0;
            padding: 0.2rem;
            margin-bottom: 0.8333rem;
            border-radius: 0.2777rem;
            color: white;
            background-color: black;
            
            &-activo {
                opacity: 1;
                transform: scale(1.2);
            }
        }

        &__barra {
            cursor: pointer;
            position: relative;
            width: 70%;
            border-radius: 0.2777rem;
            overflow: hidden;
            margin-bottom: 0.5555rem;

            &:hover::before {
                
                position: absolute;
                z-index: 100;
                background-color: lighten($Soft-red, 20%);
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: $Soft-red;
                transform: translateY(100%);
                animation: fill-bar 0.8s 0.3s ease-in-out forwards;
            }

            &--dayActual:hover::before {
                position: absolute;
                z-index: 100;
                background-color: lighten($Cyan, 20%);
            }

            &--dayActual::before {
                background-color: $Cyan;
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                animation: fill-bar 0.8s 0.3s ease-in-out forwards;
            }


        }

    }

}

@media only screen and (min-width:320px) and (max-width: 768px) {

    .container {
        width: 342px;
    }

    .chart {

        &__title {
            font-size: 1.5rem;
        }
    }
}


@keyframes fill-bar {
    to {
        transform: translateY(0%);
    }
}