@import "./colors";
@import "./font";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Very-pale-orange;

}

.title {
    font-size: 0.8888rem;
    font-family: $font-regular;
    font-weight: 400;

    &--medium-brown {
        color: $Medium-brown;
    }
}

p {
    font-family: $font-bold;
    font-weight: 700;
}

.container {
    width: 542px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $Soft-red;
    border-radius: 1.111rem;
    padding: 1.6666rem;
    margin-bottom: 1.3888rem;
    color: $Cream;

    &__balance {
        
        p {
            font-size: 1.5rem;
            margin-top: 0.8333rem;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.1111rem;
    padding: 1.6666rem;

    h1 {
        font-size: 2.3333rem;
        font-family: $font-bold;
        font-weight: 700;
        color: $Dark-brown;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 1.95rem;

        &__total {
            p {
                font-size: 2.2222rem;
                color: $Dark-brown;
            }
        }

        &__lastmonth {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 0.27777rem;

            p {
                color: $Dark-brown;
                text-align: end;
            }

        }
    }
}

.graphic {
    display: flex;
    justify-content: space-around;
    color: $Medium-brown;
    border-bottom: 1px solid $Cream;
    text-align: center;
    margin-top: 1.111rem;
    padding-bottom: 1.111rem;

    .barras{ 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &__amount{
            opacity: 0;
            padding: 0.27777rem;
            margin-bottom: 0.8333rem;
            border-radius: 0.2777rem;
            color:white;
            background-color: black;

            &-activo{
                opacity: 1;
                transform: scale(1.2);
            }
        }
        &__barra {
            cursor: pointer;
            position: relative;
            width: 70%;
            border-radius: 0.2777rem;
            overflow: hidden;
            margin-bottom: 0.5555rem;

            &:hover::before{
                position: absolute;
                z-index: 100 ;
                background-color: lighten($Soft-red, 20%);
            }
            
            &::before{
                content:"";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: $Soft-red;
                transform: translateY(100%);
                animation: fill-bar 0.8s 0.3s ease-in-out forwards;
            }

            &--dayActual:hover::before{
                position: absolute;
                z-index: 100 ;
                background-color: lighten($Cyan, 20%);
            }

            &--dayActual::before {
                background-color: $Cyan;
                content:"";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                animation: fill-bar 0.8s 0.3s ease-in-out forwards;
            }

            
        }
       
    }

}

@media only screen and (min-width:360px) and (max-width: 768px) {

    * {
        font-size: 12px;
    }

    .container {
        width: 342px;
    }
}


@keyframes fill-bar {
    to {
        transform: translateY(0%);
    }
}